// VARIABLES
$color-dark: #000;
$color-dark-green: #014E56;
$color-pink: #F67E7E;
$color-white:#FFFFFF;
$color-aqua:#79C8C7;
$color-green:#2C6269;
$color-super-green:#012F34;
$color-master-green:#004047;
